instances/
*.DS_Store
*.o
main
*.pdf
bench
CMakeLists.txt
data_runtime.tex
output.txt
output2.txt
output3.txt
test.tex
generatorExecutable.dSYM
instances_01_KP
venv
main.dSYM
.gitignore
num_bit.pdf
runtimes.pdf
cmake-build-debug
.calculations
.idea